*{
    margin:0;
    padding:0;
    font-family:"Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container-fluid img{
    width:6.75rem;
    height:1.438rem;
    margin-left:5rem;
}
.container-fluid{
    background-color:#fff;
}
.bg-light{
    background-color: #fff !important;

}
.nav-link{
    font-size:0.813rem;
}

header li:hover{
    text-decoration:underline;
}

.btn{
    font-size:0.831rem;
}

.d-flex{
    margin-right: 4.375rem;
}


/* Section1 */

@media (max-width:1180px){
    .pic1{
        height:30rem;
        width:100%;
    }
    .pic2{
        height: 30rem;
        width:100%;

    }
}

@media(max-width:490px){
    .pic1{
        height:20rem;
        width:100%;
    }
    .pic2{
        height:20rem;
        width:100%;
    }
}

@media(max-width:400px){
   .pic1{
    height:15rem;
    width:100%;
   }
   .pic2{
    height:15rem;
    width:100%;
   }

}

/* Section 2 */
.container{
    margin-top:86px;
}


/* section 3 */

@media(max-width:1180px){
    .card1{
        display:flex;
        justify-content: center;
    }
}

/* footer */

footer{
    background-color: #f2f2f2;
}

.list2{
    display: flex;
    gap: 0.7rem;
    flex-direction: column;
}

.list2 li:hover{
    text-decoration: underline;
}

.list-footer ul{
    display:flex;
    flex-direction:row;
    justify-content: center;
    font-size:0.688rem;
}

